.product {
    margin: 3rem 0rem;
    grid-column-start: 2;
    display: flex;
    justify-content: space-between;
}

.title {
    text-align: left;
    margin: 0;
    padding-bottom: 0.75rem;
}

.content {
    text-align: left;
    margin: 0;
    padding: 0.2rem 0rem;
}

.text {
    padding: 0rem 2rem;
}

.product-img {
    max-width: 100%;
    width: 55%;
    /* margin: 2rem; */
}

.detail {
    grid-column-start: 2;
}

.buy-button-pos {
    position: relative;
    top: 4.5rem;
}